@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

body {
  margin: 0;
  overflow-x: hidden;
}

.box1 {
  display: flex;
  width: 100%;
  height: 70px;
  color: black;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.boxBorder {
  border-bottom: 1px solid #d0d4db;
  color: #d0d4db;
  box-sizing: border-box;
  background-color: white;
}

.box11 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  color: black;
}

.LogoWidth {
  width: 38px;
}

.LogoWidth > img {
  width: 100%;
}

.box12 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 39%;
  border-left: 1px solid #d0d4db;
  border-right: 1px solid #d0d4db;
}
.box13 {
  display: flex;
  width: 37%;
  border-left: 1px solid #d0d4db;
}
.box14 {
  display: flex;
  width: 56%;
  justify-content: flex-end;
  align-items: center;
  padding-right: 15px;
  box-sizing: border-box;
}
.box1Btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-decoration: none;
  color: #d0d4db;
  cursor: pointer;
  transition: color 0.5s;
}
.box2Btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #d0d4db;
  cursor: pointer;
  transition: color 0.5s;
}

.box121 {
  margin-left: 30px;
}

.box121:hover,
.box122:hover,
.box123:hover,
.box124:hover {
  color: #2221a3;
  cursor: default;
  border-bottom: 3px solid #2221a3;
}

.box124 {
  margin-right: 30px;
}

.Name {
  font-size: 16px;
  color: black;
  margin-right: 15px;
}

.box143 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 66%;
  width: 13%;
  box-sizing: border-box;
  border-radius: 35px;
  overflow: hidden;
  margin-top: 13px;
  margin-left: 50px;
}
.HeadWidth {
  width: 48px;
  height: 48px;
  border-radius: 99px;
  overflow: hidden;
}

.HeadWidth > img {
  width: 100%;
}

.RWD {
  display: none;
  position: relative;
  z-index: 1;
}
.boxRWD {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 60px;
  border-bottom: 1px solid #d0d4db;
}
.boxRWD1 {
  width: 60px;
}
.boxRWD2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  color: black;
  box-sizing: border-box;
  padding-left: 133px;
  font-family: "Rubik", sans-serif;
}
.boxRWD3 {
  box-sizing: border-box;
  border-radius: 35px;
  overflow: hidden;
  width: 13%;
  height: 48px;
  margin-top: 6px;
  margin-right: 6px;
}

.RWDLink {
  width: 100%;
  height: 1100px;
  position: absolute;
  margin-right: 0;
  z-index: 1;
  background-color: rgb(101 85 85 / 95%);
  top: 0;
  right: 0;
  box-sizing: border-box;
}
.RWDLinkTittle {
  display: flex;
  justify-content: space-between;
  font-size: 50px;
  box-sizing: border-box;
  margin-left: 35%;
  margin-right: 2%;
  font-weight: 700;
  padding-top: 1%;
}

.RWDLinkTittle > img {
  width: 35px;
  height: 35px;
  padding-top: 16px;
}

.linkSize {
  font-size: 50px;
  padding-top: 50px;
}

.RWDLinkPosition {
  margin-right: -999px;
  box-sizing: border-box;
}

@media screen and (max-width: 765px) {
  .box1 {
    display: none;
  }
  .RWD {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 3px 7px 2px #e4e6fa;
    height: 80px;
  }
  .RWDRight {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .RWDRight > img {
    width: 35px;
    height: 35px;
    box-sizing: border-box;
    margin-right: 15px;
    margin-left: 30px;
  }

  .RWDRightJohn {
    margin-right: 15px;
  }
  .LogoWidth {
    width: 40px;
    margin-left: 5px;
  }

  .HeadWidth {
    margin-right: 5px;
  }
}
